<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- NAVBAR -->
    <div class="navbar">
      <img src="images/logo.svg" alt="" class="logo" />
      <div class="links">
        <a href="">Features</a>
        <a href="">Company</a>
        <a href="">Careers</a>
        <a href="">About</a>
      </div>
      <div class="logs">
        <button>Login</button>
        <button>Register</button>
      </div>
    </div>

    <!-- HEADER -->
    <header>
      <section>
        <h1>Make Remote Work</h1>
        <p>
          Get your team in sync, no matter your location. Streamline processes,
          create team rituals, and watch productivity soar.
        </p>
        <button>Learn More</button>
        <div class="brands">
          <img src="images/client-audiophile.svg" alt="" />
          <img src="images/client-databiz.svg" alt="" />
          <img src="images/client-maker.svg" alt="" />
          <img src="images/client-meet.svg" alt="" />
        </div>
      </section>
      <img src="images/image-hero-desktop.png" alt="" class="hero" />
    </header>
  </body>
</html>
