<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="avatar">
        <div class="top">
          <img src="images/image-jeremy.png" alt="" />
          <span>Report For</span>
          <h2>Jeremy Robson</h2>
        </div>
        <div class="bottom">
          <p>Daily</p>
          <p>Weekly</p>
          <p>Monthly</p>
        </div>
      </div>
      <div class="card">
        <div class="overlay o1">
          <img src="images/icon-work.svg" alt="" />
        </div>
        <div class="conent">
          <h3>Work</h3>
          <div class="cirlce"><span></span><span></span><span></span></div>
        </div>
        <h1>32hrs</h1>
        <p>Last week - 36hrs</p>
      </div>
      <div class="card">
        <div class="overlay o2">
          <img src="images/icon-play.svg" alt="" />
        </div>
        <div class="conent">
          <h3>Play</h3>
          <div class="cirlce"><span></span><span></span><span></span></div>
        </div>
        <h1>4hrs</h1>
        <p>last week - 36hrs</p>
      </div>
      <div class="card">
        <div class="overlay o3">
          <img src="images/icon-study.svg" alt="" />
        </div>
        <div class="conent">
          <h3>Study</h3>
          <div class="cirlce"><span></span><span></span><span></span></div>
        </div>
        <h1>10hrs</h1>
        <p>Last week - 25hrs</p>
      </div>
      <div class="card">
        <div class="overlay o4">
          <img src="images/icon-exercise.svg" alt="" />
        </div>
        <div class="conent">
          <h3>Exercise</h3>
          <div class="cirlce"><span></span><span></span><span></span></div>
        </div>
        <h1>8hrs</h1>
        <p>Last week - 12hrs</p>
      </div>
      <div class="card">
        <div class="overlay o5">
          <img src="images/icon-social.svg" alt="" />
        </div>
        <div class="conent">
          <h3>Social</h3>
          <div class="cirlce"><span></span><span></span><span></span></div>
        </div>
        <h1>5hrs</h1>
        <p>Last week - 14hrs</p>
      </div>
      <div class="card">
        <div class="overlay o6">
          <img src="images/icon-self-care.svg" alt="" />
        </div>
        <div class="conent">
          <h3>Self Care</h3>
          <div class="cirlce"><span></span><span></span><span></span></div>
        </div>
        <h1>10hrs</h1>
        <p>Last week - 30hrs</p>
      </div>
    </div>
  </body>
</html>
