<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>CSS LAYOUT</title>
  </head>
  <body>
    <div class="container">
      <div class="box1">
        <img
          src="https://i.pinimg.com/236x/83/8b/54/838b54ac78e235df8125a9c5e2a09a32.jpg"
          alt=""
        />
        <h1>Yuji's Brother</h1>
        <p>Blood Manipulation</p>
      </div>
      <div class="box2">
        <img
          src="https://i.pinimg.com/236x/d6/c9/b0/d6c9b0851a14cae03e0ec63142d6548e.jpg"
          alt=""
        />
        <h1>Yuta</h1>
        <p>Curse Technic</p>
      </div>
      <div class="box3">
        <img
          src="https://i.pinimg.com/236x/31/e9/da/31e9da118469f82b87e9a016756db9e7.jpg"
          alt=""
        />
        <h1>Toji</h1>
        <p>Cursed Items</p>
      </div>
    </div>
  </body>
</html>
