<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Marvel</title>
  </head>
  <body>
    <div class="navbar">
      <div class="top-bar">
        <div class="top-left">
          <img src="images/asset 108.svg" alt="" />
          <p>Sign in</p>
          <p class="slash">Join</p>
        </div>
        <img src="images/asset 109.svg" alt="" class="logo" />
        <div class="top-right">
          <img src="images/asset 1.png" alt="" />
          <div class="subs">
            <h1>MARVEL UNLIMITED</h1>
            <span>SUBSCRIBE</span>
          </div>
          <div class="search">
            <img src="images/search.png" alt="" />
          </div>
        </div>
      </div>
      <div class="bottom-bar">
        <a href="">NEWS</a>
        <a href="">COMICS</a>
        <a href="">CHARACTERS</a>
        <a href="">MOVIES</a>
        <a href="">TV SHOWS</a>
        <a href="">GAMES</a>
        <a href="">VIDEOS</a>
        <a href="">MORE</a>
      </div>
    </div>
    <div class="header">
      <div class="overlay"></div>
      <div class="content">
        <p class="effect">MARVEL COMICS</p>
        <h1>OCCICIAL MCU COMIC BOOK RELEASING SOON</h1>
        <span>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ab
          suscipit ullam debitis nihil consequatur necessitatibus eligendi amet.
          Impedit, eum.
        </span>
        <button>WATCH NOW</button>
      </div>
      <div class="hero">
        <img src="images/portrait_uncanny.jpg" alt="" />
      </div>
    </div>
  </body>
</html>
